  <div class="nav"> <!--?-->
  <ul class="onepage-pagination">
  <li>
    <!--a data-index="1" href="#one" class="" title="HOME">
    </a-->
  
    <a href="#one" class="nav dot"></a>
      <!--This is the hover "HOME" display? It's not working-->
        <table class="page-tooltip" style="display: none;">
          <tbody>
            <tr>
              <td class="page-tooltip-left"></td>
              <td class="page-tooltip-middle">HOME</td>
              <td class="page-tooltip-right"></td>
            </tr>
          </tbody>
        </table>
        <!--END OF This is the hover "HOME" display? It's not working-->

  </li>

  <li>
    <!--<a data-index="2" href="#2" class=""></a>-->
    <a href="#two" class="nav dot"></a>
    
        <!--This is the hover "FEATURES" display? It's not working-->
        <table class="page-tooltip" style="display: none;">
          <tbody>
            <tr>
              <td class="page-tooltip-left"></td>
              <td class="page-tooltip-middle">FEATURES</td>
              <td class="page-tooltip-right"></td>
            </tr>
          </tbody>
        </table>
        <!--END OF This is the hover "FEATURES" display? It's not working-->
    </li>
 
    <li>
      <!--<a data-index="3" href="#3" class=""></a>-->
      <a href="#three" class="nav dot"></a>      
    </li>

    <li>
      <!--<a data-index="4" href="#4" class="">
      </a>-->
      <a href="#four" class="nav dot"></a>
    </li>
  </ul>
</div>