{% include top.html %}

{% include header.html %}

{% if page.processing_project %}
<script src="/js/processing-1.4.8.min.js"></script>
<script src="/js/minim.js"></script>
{% endif %}

<article class="main-content">

    <div class="wrapper">

        <header class="section-header">
            <h1 class="section-title">{{ page.title }}</h1>
            <span class="section-subtitle">{{ page.subtitle }}</span>
        </header>
      
        <section class="post-content">

          {% if page.processing_project and page.embed_processing_postion == 'first' %}
          <canvas data-processing-sources="/assets/{{ page.processing_project }}/{{ page.processing_project }}.pde"></canvas>
          {% endif %}

          {{ page.content | markdownify }}

          {% if page.processing_project and page.embed_processing_postion == 'last' %}
          <canvas data-processing-sources="/assets/{{ page.processing_project }}/{{ page.processing_project }}.pde"></canvas>
          {% endif %}

            <div class="post-nav">

                <span class="section-subtitle">Share on <a href="https://twitter.com/home?status={{ page.title }}+{{ site.base }}{{ page.url }}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/share.php?u={{ site.base }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">Facebook</a>, <a href="https://plus.google.com/share?url={{ site.base }}{{ page.url }}" target="_blank">Google+</a></span><br>

                {% portfolio_buttons %}

            </div>

        </section>

    </div>

</article>

{% include footer.html %}

{% include bottom.html %}